
.App{
    display:flex;
    flex-direction: column;
}



.Footer {
    display: flex;
    width:100vw;
    height:10vh;
    background-color: cadetblue;
}

.Playground{
    height:80vh;
    display:flex;
    justify-content: center;
    align-items: flex-start;

}